@use 'src/styles/utils';

@keyframes greeting-dash {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateX(utils.spacing(20));
    opacity: 0;
  }
}

@keyframes emoticon-move {
  0% {
    transform: rotate(-3deg);
  }

  30% {
    transform: rotate(5.2deg);
  }

  40% {
    transform: rotate(5.5deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

@keyframes emoticon-eye-move {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(90%);
  }

  15% {
    transform: translateY(100%);
  }

  25% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes arm-wave {
  0% {
    transform: rotate(-10deg);
  }

  35% {
    transform: rotate(23deg);
  }

  50% {
    transform: rotate(24deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.main {
  position: relative;
  display: inline-block;
  padding: utils.spacing(6);
  white-space: nowrap;
}

.containerTextGreeting {
  position: absolute;
  font-size: utils.spacing(2);

  &.top {
    top: utils.spacing(5);
    right: utils.spacing(5);
    transform: rotate(-20deg);
  }

  &.bottom {
    bottom: utils.spacing(0);
    right: utils.spacing(12);
    transform: rotate(25deg);
  }
}

.textGreeting {
  font-size: utils.spacing(3);
  color: utils.theme-color('gray', 500);
  opacity: 1;
  animation: utils.timing(25) greeting-dash infinite ease;

  @at-root .top > & {
    animation-delay: utils.timing(-60);
  }
}

.textEmoticon {
  font-size: utils.spacing(12);
  color: utils.theme-color('gray', 600);
  transform: rotate(-3deg);
  animation: utils.timing(24) emoticon-move infinite ease-in-out;
}

.textEmoticonEye {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 20%;
    display: block;
    width: utils.px-spacing(12);
    height: utils.px-spacing(12);
    background-color: utils.theme-color('white');
    border-radius: 100%;
    animation: utils.timing(32) emoticon-eye-move infinite ease;
  }

  &::after {
    content: '`';
    position: absolute;
    top: 0;
    left: 0;
  }
}

.textArm {
  display: inline-block;
  transform-origin: 0 100%;
  animation: arm-wave utils.timing(24) infinite linear;
}
