@use 'src/styles/utils';

.main {
  color: utils.theme-color('blue', 500);
  cursor: pointer;
  opacity: utils.opacity(20);
  transition: opacity utils.timing(2) ease;

  &.danger {
    color: utils.theme-color('red', 500);
  }

  &.disabled {
    cursor: not-allowed;
    color: utils.theme-color('gray', 300);
  }

  &:not(.disabled) {
    &:hover {
      opacity: utils.opacity(6);
    }

    &:active {
      color: utils.theme-color('blue', 600);

      &.danger {
        color: utils.theme-color('red', 600);
      }

      opacity: unset;
    }
  }
}
