@use 'src/styles/mixins';
@use 'src/styles/mixins/modal';
@use 'src/styles/utils';

.portalModal {
  @include mixins.portal;
}

.main {
  @include modal.backdrop;

  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  inset: 0;
  width: 100vw;
  height: var(--app-height, 100vh);
}

.body {
  @include mixins.card-frame;
  @include mixins.gap-with-fallback(utils.spacing(4), false);

  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-top: 10%;
  padding: utils.spacing(4) utils.spacing(2);
  width: 90%;
  background: utils.theme-color('white');
}

.containerInputToolset {
  @include mixins.gap-with-fallback(utils.spacing(2));

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerSearchInput {
  flex: 1;
}

.modalEnter {
  opacity: 0;
}

.modalEnterActive {
  opacity: 1;
  transition: opacity utils.timing(6) ease;
}

.modalExit {
  opacity: 1;
}

.modalExitActive {
  opacity: 0;
  transition: opacity utils.timing(6) ease;
}

.containerSearchMenu {
  @include mixins.gap-with-fallback(utils.spacing(2), false);

  display: flex;
  flex-direction: column;
}

.listSearchMenu {
  &.overide {
    border: unset;
    box-shadow: unset;
  }
}
