@use 'src/styles/mixins';
@use 'src/styles/utils';
@use 'src/styles/variables/elements';

.main {
  position: relative;
}

.fieldName {
  position: absolute;
  top: 0;
  left: utils.spacing(2);
  padding: utils.px-spacing(2);
  color: utils.theme-color('gray', 400);
  pointer-events: none;
  transition:
    utils.timing(3) top ease,
    utils.timing(3) left ease,
    utils.timing(3) font-weight ease,
    utils.timing(3) font-size ease,
    utils.timing(3) color ease;

  @at-root {
    .input:focus ~ &,
    .input:not(:placeholder-shown) ~ & {
      top: utils.spacing(-5);
      left: utils.spacing(2);
      font-size: utils.spacing(3);
      font-weight: utils.weight(7);
      background: utils.theme-color('white');

      &.hasError {
        color: utils.theme-color('red', 500);
      }
    }

    .input:focus ~ & {
      color: utils.theme-color('green', 500);
    }
  }
}

.input {
  padding: utils.spacing(3);
  width: 100%;
  height: elements.$form-input-height;
  color: utils.theme-color('gray', 800);
  border: utils.spacing(0.5) solid utils.theme-color('gray', 300);
  border-radius: utils.spacing(1);
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  transition: utils.timing(3) border-color ease;

  &::placeholder {
    color: transparent;
  }

  &:focus {
    border-color: utils.theme-color('green', 400);
  }

  &.hasError {
    border-color: utils.theme-color('red', 500);
  }
}

.containerClear {
  @include mixins.icon-toolset;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 utils.spacing(4);

  @at-root {
    .input:placeholder-shown ~ & {
      display: none;
    }
  }
}
