@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  $icon-size: utils.spacing(4);

  @include mixins.size($icon-size);
  @include mixins.set-icon-size($icon-size);

  position: relative;
  display: inline-block;
}

.input {
  @include mixins.size(100%);

  opacity: 0;
}

.containerIconInput {
  @include mixins.size(100%);
  @include mixins.set-icon-color(utils.theme-color('gray', 500));

  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  @at-root {
    .input:disabled + & {
      @include mixins.set-icon-color(utils.theme-color('gray', 300));
    }
  }
}
