@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  @include mixins.form-block-container;
}

.containerMemberBills {
  @include mixins.form-block-field-container;
}

.containerSelectToolset {
  @include mixins.gap-with-fallback(utils.spacing(2));

  display: flex;
}
