@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  @include mixins.card-frame;
  @include mixins.active-item(utils.opacity(12));
  @include mixins.gap-with-fallback(utils.spacing(6), false);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(3) utils.spacing(4);
  width: 100%;
  min-height: utils.spacing(40);
  cursor: pointer;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;
}

.iconTextInfo {
  $color: utils.theme-color('gray', 500);

  @include mixins.gap-with-fallback(utils.spacing(2));
  @include mixins.set-icon-color($color);
  @include mixins.set-icon-size(utils.spacing(4));

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: utils.spacing(4);
  color: $color;
}

.iconToolset {
  @include mixins.icon-toolset;
}

.textName {
  font-size: utils.spacing(6);
  line-height: utils.spacing(4);
  font-weight: utils.weight(5);
  color: utils.theme-color('gray', 600);
}

.body {
  flex: 1;
}

.textBillTotal {
  font-size: utils.spacing(5);
  font-weight: utils.weight(5);
  color: utils.theme-color('green', 600);
}
