@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.containerInput {
  flex: 1;
}

.containerGroupItem {
  display: flex;
  align-items: center;
  flex: none;
  padding: utils.spacing(3);
  color: utils.theme-color('gray', 500);
  border: utils.spacing(0.5) solid utils.theme-color('gray', 300);
  border-radius: utils.spacing(1);
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
