@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  $color: utils.theme-color('gray', 500);
  $font-size: utils.spacing(4);

  @include mixins.set-icon-color($color);
  @include mixins.set-icon-weight(utils.px-spacing(3));
  @include mixins.set-icon-size($font-size);
  @include mixins.gap-with-fallback(utils.spacing(2));

  display: flex;
  align-items: center;
  padding: utils.spacing(2);
  border-bottom: utils.px-spacing(1) solid utils.theme-color('gray', 300);
  font-size: $font-size;
  color: $color;
}
