@use 'src/styles/mixins';
@use 'src/styles/mixins/device';
@use 'src/styles/mixins/modal';
@use 'src/styles/utils';

.portalDatePicker {
  @include mixins.portal;
}

.containerCalendar {
  @include modal.backdrop;

  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: var(--app-height, 100vh);

  @include device.desktop {
    @include mixins.offscreen;
    @include modal.clear-backdrop;

    display: unset;
    align-items: unset;
    justify-content: unset;
    width: unset;
    height: unset;
    inset: unset;
  }

  &.onscreen {
    @include device.desktop {
      @include mixins.clear-offscreen;
    }
  }
}

.containerCalendarEnter {
  opacity: 0;
}

.containerCalendarEnterActive {
  opacity: 1;
  transition: opacity utils.timing(6) ease;
}

.containerCalendarExit {
  opacity: 1;
}

.containerCalendarExitActive {
  opacity: 0;
  transition: opacity utils.timing(6) ease;
}
