@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(6));

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: utils.spacing(3.5);
}

.textItem {
  font-weight: utils.weight(5);
  color: utils.theme-color('gray', 600);
}

.textCurrencyAmount {
  color: utils.theme-color('green', 600);

  &.negative {
    color: utils.theme-color('red', 400);
  }
}
