@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(12), false);

  display: flex;
  flex-direction: column;
  padding-bottom: utils.spacing(8);
}

.containerBackPrevious {
  $color: utils.theme-color('gray', 500);
  $font-size: utils.spacing(4);

  @include mixins.active-item;
  @include mixins.gap-with-fallback(utils.spacing(2));
  @include mixins.set-icon-color($color);
  @include mixins.set-icon-size($font-size);

  display: flex;
  align-items: center;
  font-size: $font-size;
  color: $color;
}

.containerShareRecordFileds {
  @include mixins.form-container;
}
