@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  $size: utils.spacing(4);
  $color: utils.theme-color('white');

  @include mixins.gap-with-fallback(utils.spacing(2));
  @include mixins.set-icon-size($size);
  @include mixins.set-icon-color($color);

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: utils.spacing(2) utils.spacing(4);
  font-size: $size;
  color: $color;
  background: utils.theme-color('green', 600);
  border: 1px solid utils.theme-color('green', 700);
  border-radius: utils.spacing(1);

  > *:not(.textMemberName) {
    flex: none;
  }
}

.textMemberName {
  flex: 1;
}

.toolset {
  @include mixins.icon-toolset;
  @include mixins.set-icon-color(utils.theme-color('white'));
}
