@use 'src/styles/mixins';
@use 'src/styles/mixins/modal';
@use 'src/styles/utils';

.dropdownMenu {
  @include mixins.offscreen;

  position: fixed;
  width: 100%;

  &.onscreen {
    @include mixins.clear-offscreen;
  }
}

.hidden {
  visibility: hidden;
}
