@use 'src/styles/mixins';
@use 'src/styles/mixins/element';
@use 'src/styles/utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(2), false);

  display: flex;
  flex-direction: column;
}

.containerEmptySearchKeywords {
  @include mixins.gap-with-fallback(utils.spacing(2), false);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: utils.spacing(12) 0 utils.spacing(16);
  color: utils.theme-color('gray', 400);
}

.textDetective {
  font-size: utils.spacing(10);
  opacity: utils.opacity(8);
  filter: grayscale(100%);
}

.listTextItem {
  @include element.reset-list;
}

.listItemSearchKeyword {
  @include mixins.active-item(utils.opacity(12));

  padding: utils.spacing(4) utils.spacing(2);

  &:not(:last-child) {
    border-bottom: utils.px-spacing(1) solid utils.theme-color('gray', 200);
  }
}
