@use 'src/styles/utils';
@use 'src/styles/mixins/device';
@use 'src/styles/variables/base';
@import 'normalize.css/normalize.css';
@import 'src/styles/fonts';

:root {
  --app-layout: 'MOBILE';

  font-size: base.$base-size;
  font-family: base.$sans-font-family;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;

  @include device.pad {
    --app-layout: 'PAD';
  }

  @include device.desktop {
    --app-layout: 'DESKTOP';
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  @supports (-webkit-tap-highlight-color: transparent) {
    -webkit-tap-highlight-color: transparent;
  }
}
