/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('./fonts/noto-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/noto-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/noto-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/noto-sans-v27-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-500 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
    url('./fonts/noto-sans-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/noto-sans-v27-latin-500.woff') format('woff'), /* Modern Browsers */
    url('./fonts/noto-sans-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/noto-sans-v27-latin-500.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-600 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
    url('./fonts/noto-sans-v27-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/noto-sans-v27-latin-600.woff') format('woff'), /* Modern Browsers */
    url('./fonts/noto-sans-v27-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/noto-sans-v27-latin-600.svg#NotoSans') format('svg'); /* Legacy iOS */
}
