@use 'sass:list';
@use 'sass:map';
@use 'utils';

@mixin autoprefix($property, $values...) {
  $vendor-prefix: '-webkit-', '-moz-', '-ms-', '-o-';

  @each $prefix in $vendor-prefix {
    #{$prefix}#{$property}: $values;
  }

  $property: $values;
}

@mixin set-icon-color($color) {
  svg > * {
    stroke: $color;
  }
}

@mixin set-icon-background($color) {
  svg > path {
    fill: $color;
  }
}

@mixin set-icon-weight($value) {
  svg > path {
    stroke-width: $value;
  }
}

@mixin set-icon-size($value) {
  svg {
    @include size($value);
  }
}

@mixin separator-x {
  margin: 0 utils.spacing(2);
  color: utils.theme-color('gray', 200);
  vertical-align: middle;
}

@mixin separator-bottom {
  border-bottom: utils.spacing('px') solid utils.theme-color('gray', 200);
}

@mixin size($value) {
  width: $value;
  height: $value;
}

@mixin background-icon-text {
  $base-color: utils.theme-color('gray', 300);

  @include set-icon-size(utils.spacing(24));
  @include set-icon-color($base-color);
  @include set-icon-weight(1);
  @include gap-with-fallback(utils.spacing(3), false);

  display: flex;
  flex-direction: column;
  font-size: utils.spacing(6);
  font-weight: utils.weight(3);
  text-align: center;
  color: $base-color;
}

@mixin active-text($normal-color, $active-color) {
  color: $normal-color;
  cursor: pointer;

  &:hover {
    opacity: utils.opacity(6);
  }

  &:active {
    color: $active-color;
    opacity: unset;
  }
}

@mixin active-item($opacity: utils.opacity(6)) {
  transition: opacity utils.timing(3) ease;
  cursor: pointer;

  &:hover {
    opacity: $opacity;
  }
}

@mixin clear-active-item($opacity: utils.opacity(6)) {
  transition: unset;
  cursor: unset;

  &:hover {
    opacity: unset;
  }
}

@mixin input-field-title {
  font-size: utils.spacing(2);
  font-weight: utils.weight(7);
  color: utils.theme-color('gray', 400);
  line-height: utils.spacing(5);
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flex-not-support-fallback {
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    @content;
  }
}

@mixin gap-with-fallback($spacing, $is-horizontal: true, $use-pseudo-before: false) {
  gap: $spacing;

  @include flex-not-support-fallback {
    > *:first-child:not(:last-child),
    > *:not(:first-child):not(:last-child) {
      @if $use-pseudo-before {
        &::after {
          content: '';
          display: block;

          @if $is-horizontal {
            margin-right: $spacing;
          } @else {
            margin-bottom: $spacing;
          }

          @content;
        }
      } @else {
        @if $is-horizontal {
          margin-right: $spacing;
        } @else {
          margin-bottom: $spacing;
        }

        @content;
      }
    }
  }
}

@mixin rounded-icon-container {
  overflow: hidden;
  border-radius: utils.spacing('full');
}

@mixin icon-toolset($active-opacity: utils.opacity(6)) {
  @include set-icon-size(utils.spacing(4));
  @include set-icon-color(utils.theme-color('gray', 500));
  @include gap-with-fallback(utils.spacing(1));

  display: flex;
  align-items: center;

  > * {
    @include active-item($active-opacity);

    cursor: pointer;
  }
}

@mixin card-frame {
  border: utils.px-spacing(1) solid utils.theme-color('gray', 300);
  border-radius: utils.spacing(1);
}

@mixin offscreen {
  top: utils.px-spacing(9999);
  visibility: hidden;
  z-index: -1;
}

@mixin clear-offscreen {
  top: unset;
  visibility: unset;
  z-index: unset;
}

@mixin form-container($use-pseudo-before: false) {
  @include gap-with-fallback(utils.spacing(8), false, $use-pseudo-before);

  display: flex;
  flex-direction: column;
}

@mixin form-block-container($use-pseudo-before: false) {
  @include gap-with-fallback(utils.spacing(6), false, $use-pseudo-before);

  display: flex;
  flex-direction: column;
}

@mixin form-block-field-container($use-pseudo-before: false) {
  @include gap-with-fallback(utils.spacing(4), false, $use-pseudo-before);

  display: flex;
  flex-direction: column;
}

@mixin form-footer {
  padding-top: utils.spacing(8);
}

@mixin form-checkbox {
  @include gap-with-fallback(utils.spacing(2));

  display: flex;
  align-items: center;
}

@mixin portal {
  position: fixed;
  top: 0;
  z-index: utils.z-index(999);
}
