@use 'sass:list';
@use 'sass:map';
@use 'sass:string';
@use 'variables/base';
@use 'variables/colors';

@function theme-color($paths...) {
  $output-color: map.get(colors.$color-map, $paths...);

  @if $output-color == null {
    @error 'Color #{$color}-#{$level} not found';
  }

  @return $output-color;
}

@function spacing($multiplier) {
  @return $multiplier * 0.25rem;
}

@function px-spacing($multiplier) {
  @return $multiplier * 1px;
}

@function em-spacing($multiplier) {
  @return $multiplier * 1em;
}

@function timing($multiplier) {
  @return #{$multiplier * 0.05}s;
}

@function opacity($multiplier) {
  @return $multiplier * 0.05;
}

@function weight($multiplier) {
  @return $multiplier * 100;
}

@function z-index($multiplier) {
  @return $multiplier * 10;
}
