@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  @include mixins.form-container;
}

.headerPayment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.containerPayment {
  @include mixins.form-block-field-container;

  border-bottom: utils.px-spacing(1) solid utils.theme-color('gray', 300);
}

.containerAmountCurrency,
.containerMembers {
  @include mixins.form-block-container;
}

.containerAmountCurrencyFields,
.containerMemberFields {
  @include mixins.form-block-field-container;
}

.containerCurrencyRate {
  @include mixins.gap-with-fallback(utils.spacing(2));

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  > * {
    flex: 1;
  }
}

.containerPaymentOptions {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: utils.spacing(4);
}

.contianerUseCurrencyExchange {
  @include mixins.form-checkbox;
}
