@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  border: utils.px-spacing(2) dotted utils.theme-color('gray', 300);
  border-radius: utils.spacing(1);
}

.containerHost {
  display: inline-flex;
  align-items: center;
  color: utils.theme-color('gray', 500);
}

.containerIconTextHost {
  $color: utils.theme-color('blue', 400);
  $size: utils.spacing(4);

  @include mixins.set-icon-color($color);
  @include mixins.set-icon-size($size);
  @include mixins.gap-with-fallback(utils.spacing(1));

  display: inline-flex;
  padding: 0 utils.spacing(1);
  font-weight: utils.weight(6);
  color: $color;
}
