@use 'src/styles/mixins';
@use 'src/styles/mixins/device';
@use 'src/styles/utils';

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: var(--app-height, 100vh);
}

.header {
  flex: none;
}

.body {
  flex: 1;
  overflow: auto;
}

.containerEmptyShareRecord {
  @include mixins.gap-with-fallback(utils.spacing(8), false);
  @include mixins.size(100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonCreateShareRecord {
  width: utils.spacing(48);
}

.containerShareRecords {
  @include mixins.gap-with-fallback(utils.spacing(6), false);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(4) utils.spacing(6);

  @include device.desktop {
    margin: auto;
    width: 80%;
    max-width: utils.px-spacing(1000);
  }
}

.containerAddShareRecordButtonRounded {
  position: fixed;
  bottom: utils.spacing(12);
  right: utils.spacing(8);
  overflow: hidden;
  border-radius: 100%;
}
