@use 'src/styles/mixins';
@use 'src/styles/mixins/device';
@use 'src/styles/utils';

.main {
  @include mixins.card-frame;
  @include mixins.gap-with-fallback(utils.spacing(4), false);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(6);
  width: 80vw;
  user-select: none;
  font-size: utils.px-spacing(18);
  background: utils.theme-color('white');
  z-index: utils.z-index(999);

  @include device.pad {
    width: utils.spacing(90);
  }

  @include device.desktop {
    padding: utils.spacing(4);
    width: utils.spacing(70);
    height: utils.spacing(80);
    font-size: utils.px-spacing(16);
  }
}

.containerYear {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerIconYearSwitch {
  @include mixins.set-icon-background(utils.theme-color('gray', 500));
  @include mixins.active-item;

  display: flex;
  align-items: center;
}

.textYear {
  font-size: utils.em-spacing(0.9);
  color: utils.theme-color('green', 600);
}

.containerWeekDate {
  @include mixins.gap-with-fallback(utils.spacing(4), false);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.containerWeekdays {
  display: flex;
  justify-content: space-around;
}

.textWeekday {
  font-size: utils.em-spacing(0.9);
  font-weight: utils.weight(10);
}

.containerDates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
  grid-gap: utils.spacing(2);
  align-items: center;
  justify-items: center;
}

.textDate {
  padding: utils.spacing(1.5);
  font-size: utils.em-spacing(0.9);
  color: utils.theme-color('gray', 400);
  cursor: pointer;
  border-radius: utils.spacing(1.5);

  &.currentMonth {
    color: utils.theme-color('gray', 600);
  }

  &.today {
    font-weight: utils.weight(6);
    color: utils.theme-color('green', 600);
  }

  &.selected {
    font-weight: utils.weight(6);
    color: utils.theme-color('white');
    background: utils.theme-color('green', 600);
    cursor: default;
  }

  &.disabled {
    cursor: not-allowed;
    color: utils.theme-color('gray', 200);
  }

  &:hover:not(.disabled):not(.selected) {
    background: utils.theme-color('gray', 200);
  }
}
