@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  @include mixins.card-frame;

  display: flex;
  flex-direction: column;
  user-select: none;
}

.containerCollapseHeader {
  $color: utils.theme-color('gray', 600);

  @include mixins.active-item(utils.opacity(12));
  @include mixins.gap-with-fallback(utils.spacing(6));
  @include mixins.set-icon-size(utils.spacing(4));
  @include mixins.set-icon-color($color);

  display: flex;
  align-items: center;
  padding: utils.spacing(3) utils.spacing(4);
  color: $color;
  cursor: pointer;
  background: utils.theme-color('gray', 50);
  border-bottom: utils.px-spacing(1) solid utils.theme-color('gray', 300);
  border-top-left-radius: utils.spacing(1);
  border-top-right-radius: utils.spacing(1);
}

.collpasedHeaderChildren {
  flex: 1;
}

.containerIconNext {
  @include mixins.icon-toolset(unset);

  flex: none;
}

.containerCollapseMenu {
  --menu-height: 0;
  --menu-transition-second: 0;

  overflow: hidden;
  height: 0;
  transition: var(--menu-transition-second) ease;

  &.expanded {
    height: var(--menu-height);
  }
}

.containerCollapseMenuChildren {
  padding: utils.spacing(3);
}
