@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  display: grid;
  grid-template-areas: 'main';
  padding: utils.spacing(4) 0;
  border-bottom: utils.px-spacing(1) solid utils.theme-color('gray', 300);
}

.containerBackPrevious {
  $color: utils.theme-color('gray', 500);
  $font-size: utils.spacing(4);

  @include mixins.active-item;
  @include mixins.gap-with-fallback(utils.spacing(2));
  @include mixins.set-icon-color($color);
  @include mixins.set-icon-size($font-size);

  display: flex;
  align-items: center;
  font-size: $font-size;
  color: $color;
  grid-area: main;
  justify-self: flex-start;
}

.textHeader {
  grid-area: main;
  justify-self: center;
  font-size: utils.spacing(4);
  font-weight: utils.weight(6);
  color: utils.theme-color('gray', 600);
}

.containerSave {
  grid-area: main;
  justify-self: flex-end;
}
