@use 'src/styles/mixins';
@use 'src/styles/utils';

.containerCheckboxMember {
  @include mixins.gap-with-fallback(utils.spacing(6));

  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    display: flex;
    align-items: center;
    flex: none;
  }
}

.containerIconTextUser {
  $color: utils.theme-color('gray', 600);

  @include mixins.gap-with-fallback(utils.spacing(2));
  @include mixins.set-icon-size(utils.spacing(4));
  @include mixins.set-icon-color($color);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  color: $color;
}

.containerHostBills {
  @include mixins.gap-with-fallback(utils.spacing(6), false);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(2) 0;
}

.textEmptyBill {
  color: utils.theme-color('gray', 400);
}
