@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(2));

  display: flex;
  align-items: center;
  padding: utils.spacing(4);
  background: utils.theme-color('green', 50);
  border-bottom: utils.px-spacing(1) solid utils.theme-color('green', 500);
}

.textHeader {
  color: utils.theme-color('green', 900);
}
