@use 'src/styles/mixins';
@use 'src/styles/mixins/element';
@use 'src/styles/utils';

.main {
  background: utils.theme-color('white');
  border: utils.px-spacing(1) solid utils.theme-color('gray', 200);
  border-radius: utils.spacing(1);
  box-shadow: utils.px-spacing(1) utils.px-spacing(1) utils.spacing(2) utils.theme-color('gray', 300);
}

.listTextItem {
  @include element.reset-list;
}

.listItemTextItem,
.textNoTextList,
.containerCreateKeywordText {
  padding: utils.spacing(4) utils.spacing(3);
  cursor: pointer;
}

.listItemTextItem {
  @include mixins.active-item(utils.opacity(12));

  &:not(:last-child) {
    border-bottom: utils.px-spacing(1) solid utils.theme-color('gray', 200);
  }
}

.textNoTextList {
  color: utils.theme-color('gray', 400);
}

.containerCreateKeywordText {
  border-top: utils.px-spacing(1) solid utils.theme-color('gray', 200);
}

