@use 'src/styles/mixins';
@use 'src/styles/mixins/device';
@use 'src/styles/utils';

$gap: utils.spacing(2);

.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @include device.mobile {
    @include mixins.gap-with-fallback($gap, false, true);

    flex-direction: column;
  }

  @include device.pad {
    @include mixins.gap-with-fallback($gap);

    flex-flow: row wrap;
  }

  @include device.desktop {
    @include mixins.gap-with-fallback($gap);

    flex-flow: row wrap;
  }
}

.containerShareRecordCard {
  @include device.mobile {
    width: 100%;
  }

  @include device.pad {
    width: calc(50% - #{$gap});
    margin-bottom: $gap;

    &:nth-child(2n + 1) {
      margin-left: unset;
    }
  }

  @include device.desktop {
    width: calc(33% - #{$gap});
    margin-bottom: $gap;

    &:nth-child(3n + 1) {
      margin-left: unset;
    }
  }
}
