@use 'src/styles/mixins';
@use 'src/styles/utils';

.containerCopyNotification {
  $color: utils.theme-color('green', 600);
  $font-size: utils.spacing(4);

  @include mixins.set-icon-color($color);
  @include mixins.set-icon-size($font-size);
  @include mixins.set-icon-weight(utils.spacing(1));
  @include mixins.gap-with-fallback(utils.spacing(2));

  display: flex;
  font-size: $font-size;
  font-weight: utils.weight(6);
  color: $color;
}
