@use 'src/styles/mixins';
@use 'src/styles/mixins/device';
@use 'src/styles/utils';

.main {
  @include mixins.form-block-container;
}

.containerShareRecordFields {
  @include mixins.form-block-field-container;
}

.containerDates {
  @include device.mobile {
    @include mixins.form-block-field-container;
  }

  @include device.pad {
    @include mixins.form-block-field-container;
  }

  @include device.desktop {
    @include mixins.gap-with-fallback(utils.spacing(4));

    display: flex;
    flex-direction: row;

    > .containerDate {
      flex: 1;
    }
  }
}

.containerCurrency {
  width: 100%;

  @include device.desktop {
    width: calc(50% - #{utils.spacing(2)});
  }
}

.footer {
  @include mixins.form-footer;
}
