@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  @include mixins.set-icon-color(utils.theme-color('gray', 500));
  @include mixins.gap-with-fallback(utils.spacing(4));

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerIconHistory {
  @include mixins.set-icon-size(utils.spacing(4));
}

.textChildren {
  @include mixins.set-icon-color(utils.theme-color('gray', 600));

  font-size: utils.spacing(4);
  flex: 1;
}

.containerIconFormClose {
  @include mixins.set-icon-size(utils.spacing(4));
  @include mixins.active-item;
}

.containerIconHistory,
.containerIconFormClose {
  display: flex;
  align-items: center;
}
