@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(6), false);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.listMemberBill {
  overflow: auto;
  margin: 0;
  padding: utils.spacing(2) 0;
  max-height: utils.spacing(100);
  list-style: none;
}

.containerMemberBillItem {
  padding: utils.spacing(1);

  &::marker {
    color: utils.theme-color('gray', 600);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: utils.px-spacing(1) solid utils.theme-color('gray', 300);
  padding: utils.spacing(6) 0 utils.spacing(2);
}

.containerTotal {
  @include mixins.gap-with-fallback(utils.spacing(4));

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textTotalTitle {
  font-weight: utils.weight(6);
  color: utils.theme-color('gray', 600);
}

.textTotalAmount {
  font-weight: utils.weight(6);
  color: utils.theme-color('green', 600);

  &.negative {
    color: utils.theme-color('red', 400);
  }
}
