@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  &.overide {
    @include mixins.size(utils.spacing(14));
    @include mixins.set-icon-color(utils.theme-color('white'));
    @include mixins.set-icon-size(utils.spacing(7));

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
}
