@use 'src/styles/mixins';
@use 'src/styles/utils';
@use 'src/styles/variables/elements';

.main {
  @include mixins.active-item(utils.opacity(12));

  display: grid;
  grid-template-areas: 'select';
  align-items: center;


  &::after {
    content: '';
    grid-area: select;
    justify-self: flex-end;
    margin-right: utils.spacing(3);
    width: utils.spacing(4);
    height: utils.spacing(3);
    background-color: utils.theme-color('gray', 600);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
}

.select {
  padding: utils.spacing(3);
  width: 100%;
  height: elements.$form-input-height;
  color: utils.theme-color('gray', 500);
  background-color: transparent;
  border: utils.spacing(0.5) solid utils.theme-color('gray', 300);
  border-radius: utils.spacing(1);
  outline: none;
  appearance: none;
  grid-area: select;

  &.hasError {
    border-color: utils.theme-color('red', 500);
  }
}
