@use 'sass:color';
@use 'src/styles/mixins';
@use 'src/styles/mixins/device';
@use 'src/styles/mixins/modal';
@use 'src/styles/utils';

$modal-transition-duration: utils.timing(10);
$modal-transform-scale: scale(0.85, 0.85);

.main {
  @include modal.backdrop;

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: var(--app-height, 100vh);
}

.modalContent {
  @include mixins.gap-with-fallback(utils.spacing(4), false);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(4) utils.spacing(5) utils.spacing(12);
  width: 90vw;
  max-height: 90vh;
  background: utils.theme-color('white');
  border-radius: utils.spacing(1);
  box-shadow: 0 utils.spacing(1) utils.spacing(8) utils.theme-color('gray', 500);

  @include device.desktop {
    max-width: utils.spacing(160);
  }

  @at-root {
    .modalAppear & {
      transform: $modal-transform-scale;
    }

    .modalAppearActive & {
      transition: transform $modal-transition-duration ease;
      transform: scale(1, 1);
    }

    .modalAppearDone & {
      transform: scale(1, 1);
    }

    .modalEnter & {
      transform: $modal-transform-scale;
    }

    .modalEnterActive & {
      transition: transform $modal-transition-duration ease;
      transform: scale(1, 1);
    }

    .modalExit & {
      transform: scale(1, 1);
    }

    .modalExitActive & {
      transition: transform $modal-transition-duration ease;
      transform: $modal-transform-scale translateY(100%);
    }
  }
}

.modalBody {
  overflow: auto;
}

.modalAppear,
.modalEnter {
  opacity: 0;
}

.modalAppearActive,
.modalEnterActive {
  opacity: 1;
  transition: opacity $modal-transition-duration ease;
}

.modalAppearDone,
.modalEnterDone {
  opacity: 1;
}

.modalExit {
  opacity: 1;
}

.modalExitActive {
  opacity: 0;
  transition: opacity $modal-transition-duration ease;
}

.modalExitDone {
  opacity: 0;
}
