@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  @include mixins.gap-with-fallback(utils.spacing(4), false);

  display: flex;
  flex-direction: column;
}

.listMemberTag {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @include mixins.gap-with-fallback(utils.spacing(2)) {
    margin-bottom: utils.spacing(2);
  }
}
