@use 'src/styles/mixins';
@use 'src/styles/mixins/device';
@use 'src/styles/utils';

$modal-transition-duration: utils.timing(10);
$modal-transform-scale: scale(0.85, 0.85);

.main {
  @include mixins.gap-with-fallback(utils.spacing(4), false);

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: utils.spacing(4) utils.spacing(4) utils.spacing(6);
  width: 100vw;
  height: var(--app-height, 100vh);
  background: utils.theme-color('white');
}

.header {
  flex: none;
}

.body {
  flex: 1;
  overflow: auto;

  @include device.desktop {
    margin: auto;
    width: 80%;
    max-width: utils.px-spacing(1000);
  }
}

.modalEnter {
  opacity: 0;
  transform: $modal-transform-scale;
}

.modalEnterActive {
  opacity: 1;
  transition:
    transform $modal-transition-duration ease,
    opacity $modal-transition-duration ease;
  transform: scale(1, 1);
}

.modalExit {
  opacity: 1;
  transform: scale(1, 1);
}

.modalExitActive {
  opacity: 0;
  transition:
    transform $modal-transition-duration ease,
    opacity $modal-transition-duration ease;
  transform: $modal-transform-scale;
}
