@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  $message-color: utils.theme-color('red', 500);

  @include mixins.set-icon-size(utils.spacing(3.5));
  @include mixins.set-icon-color($message-color);
  @include mixins.gap-with-fallback(utils.spacing(1));

  display: flex;
  align-items: center;
  padding: utils.spacing(2) 0;
  font-size: utils.spacing(3.5);
  color: $message-color;
  vertical-align: middle;
}
