@use 'src/styles/variables/breakpoint';

@mixin mobile {
  @media(max-width: breakpoint.$pad) {
    @content;
  }
}

@mixin pad {
  @media(min-width: breakpoint.$pad) and (max-width: breakpoint.$desktop) {
    @content;
  }
}

@mixin desktop {
  @media(min-width: breakpoint.$desktop) {
    @content;
  }
}
