@use 'sass:color';
@use 'src/styles/utils';

@mixin backdrop {
  background: color.adjust(utils.theme-color('gray', 600), $alpha: -0.4);
  backdrop-filter: blur(utils.px-spacing(2));
}

@mixin clear-backdrop {
  background: unset;
  backdrop-filter: unset;
}
