@use 'src/styles/utils';

.main {
  padding: utils.spacing(2) utils.spacing(4);
  width: 100%;
  border-radius: utils.spacing(1);
  cursor: pointer;
  opacity: utils.opacity(20);
  transition: opacity utils.timing(4) ease;

  &:hover {
    opacity: utils.opacity(12);
  }

  &.default {
    color: utils.theme-color('gray', 500);
    background: utils.theme-color('gray', 200);
    border: 1px solid utils.theme-color('gray', 300);
  }

  &.primary {
    color: utils.theme-color('white');
    background: utils.theme-color('green', 500);
    border: 1px solid utils.theme-color('green', 600);
  }

  &.disabled {
    color: utils.theme-color('gray', 300);
    background: utils.theme-color('gray', 200);
    border: 1px solid utils.theme-color('gray', 200);
    opacity: unset;
    cursor: not-allowed;
  }
}
