@use 'src/styles/mixins';
@use 'src/styles/mixins/device';
@use 'src/styles/utils';

$bill-card-gap: utils.spacing(2);

.main {
  @include mixins.form-block-container;
}

.containerBills {
  @include mixins.gap-with-fallback($bill-card-gap, false);

  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @include device.mobile {
    @include mixins.gap-with-fallback($bill-card-gap, false);

    flex-direction: column;
  }

  @include device.pad {
    @include mixins.gap-with-fallback($bill-card-gap);

    flex-flow: row wrap;
  }

  @include device.desktop {
    @include mixins.gap-with-fallback($bill-card-gap);

    flex-flow: row wrap;
  }
}

.containerBillCard {
  margin-bottom: calc(#{$bill-card-gap} / 2);

  @include device.mobile {
    width: 100%;
  }

  @include device.pad {
    width: calc(50% - #{$bill-card-gap});
  }

  @include device.desktop {
    width: calc(33% - #{$bill-card-gap});
  }
}
