@use 'src/styles/mixins';
@use 'src/styles/utils';

.main {
  @include mixins.card-frame;
  @include mixins.active-item(utils.opacity(12));
  @include mixins.gap-with-fallback(utils.spacing(6), false);

  display: flex;
  flex-direction: column;
  padding: utils.spacing(3) utils.spacing(4);
}

.containerHost {
  $color: utils.theme-color('white');
  $size: utils.spacing(3.5);

  @include mixins.set-icon-color($color);
  @include mixins.set-icon-size($size);
  @include mixins.gap-with-fallback(utils.spacing(1));

  display: flex;
  padding: utils.spacing(1) utils.spacing(2);
  font-size: $size;
  color: $color;
  background: utils.theme-color('blue', 400);
  border-radius: utils.px-spacing(3);
}

.containerHostToolset {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolset {
  @include mixins.icon-toolset;

  flex: none;
}

.listPayments {
  margin: 0;
  padding: 0;
  list-style: none;
}

.body {
  @include mixins.gap-with-fallback(utils.spacing(1), false);

  display: flex;
  flex-direction: column;
}

.textPayments {
  font-size: utils.spacing(3.5);
  font-weight: utils.weight(5);
}

.listItemPaymentAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: utils.px-spacing(2) 0;
}

.textPaymentItem {
  font-size: utils.spacing(3.5);
  text-indent: utils.spacing(4);
  color: utils.theme-color('gray', 500);
}

.textPaymentAmountTotal {
  font-size: utils.spacing(3);
  color: utils.theme-color('gray', 400);
}

.textMemberStatistics {
  font-size: utils.spacing(3.5);
  color: utils.theme-color('gray', 400);
}

.containerMemberCurrency {
  @include mixins.gap-with-fallback(utils.spacing(3));

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.containerMemberStatistics {
  $color: utils.theme-color('gray', 500);

  @include mixins.set-icon-color($color);
  @include mixins.set-icon-size(utils.spacing(4));
  @include mixins.gap-with-fallback(utils.spacing(1));

  display: flex;
  color: $color;
}

.containerCurrencyAmount {
  @include mixins.gap-with-fallback(utils.px-spacing(4), false);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: utils.weight(6);
}

.textCurrencyAmount {
  color: utils.theme-color('green', 600);
}

.textSourceCurrencyAmount {
  font-size: utils.spacing(3);
  color: utils.theme-color('green', 400);
}
